<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
Options +FollowSymLinks

RewriteRule ^listen$ http://listen.freeformportland.org:8000/stream [L]
RewriteRule ^blog$ https://blog.freeformportland.org [L,R=301]
RewriteRule ^apply$ https://goo.gl/forms/1rcRzlMeQehnPlpl1 [L,R=301]
RewriteRule ^eval$ https://docs.google.com/forms/d/e/1FAIpQLSdDx2NrGe_rUDE16yYImVcssZD-Hicjs3HywRgrdCXRfuthJw/viewform [L,R=301]
RewriteRule ^wiki$ http://wiki.freeformportland.org [L,R=301]
RewriteRule ^carts$ https://docs.google.com/forms/d/e/1FAIpQLSeVZXpsqYx5JjE_xv4_Y5M_57eNN_mh_MqoX6a2M39IxBMiJQ/viewform [L,R=301]

</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
