<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
Options +FollowSymLinks

RewriteRule ^listen$ http://104.236.186.233:8000/stream [L]
RewriteRule ^issues$ https://goo.gl/forms/zizHFw0af8eSvBvA3 [L,R=301]
RewriteRule ^apply$ https://goo.gl/forms/TvHA1CFPcLcZ2szY2 [L,R=301]
RewriteRule ^eval$ https://goo.gl/forms/unpzdJuq77bfZTrd2 [L,R=301]
RewriteRule ^carts$ https://docs.google.com/forms/d/e/1FAIpQLSeVZXpsqYx5JjE_xv4_Y5M_57eNN_mh_MqoX6a2M39IxBMiJQ/viewform [L,R=301]

</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
